# Игнорировать файлы и папки, созданные Python
__pycache__/
*.pyc
*.pyo
*.pyd

# локальные настройки
mailserv/settings/local.py


# Игнорировать файлы для временных хранения базы данных SQLite
db.sqlite3

# Игнорировать кэшированные файлы
*.cache

# конфиденциальные данные или пароли
*.env

# Игнорировать файлы и папки, созданные IDE или текстовыми редакторами
.vscode/
.idea/
*.pyc

# содержат настройки IDE или текстовых редакторов
*.sublime-*
*.swp
*.swo
*.sublime-workspace

#файлы для виртуальных окружений
venv/
